
.contain{
    margin:auto;
    width:100%;
    padding:20px 20px;
}
.login-img{
    width: 20%;
    margin:auto;
}
.login-image{
    width: 100%;
}
.error{color:red}
.content{
    background-color: rgb(222, 222, 238);
    width: 50%;
    margin:auto;
    padding:20px;
}
.content input{
    width: 300px;
    padding:5px;
    border-radius:5px;
    border:none;
}
.content *{
    margin:6px auto;
    outline:none;
}

.btn:hover{
    text-decoration: none;
    padding:none;
}

@media only screen and (max-width:900px){
    .content{
        width: 100%;
    }
}