.home-main-container{
    /* padding:50px; */
    width:100%;
    margin: auto;
    text-align: center;
}

.sec-1-inner{
    padding:5%;
    color: rgb(202, 202, 202);
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.sec-1-inner hr{
    width: 50%;
    padding:2px;
    background: rgb(218, 218, 231);
    margin:auto;
}

@media only screen and (max-width:900px){
    .home-main-container{
        width:100%;
        padding:20px;
    }
    /* .obj-container{
        width: 85%;
    } */
}