*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

body{
  margin:0;
  padding:0;
  overflow-x: hidden;
  background:linear-gradient(to bottom,rgba(221, 221, 221, 0.6),rgba(255, 255, 255, 0.6));
  background-size: cover;
  background-position: center;
  transition:2s ease-in-out;
}
.btn{
  margin:10px;
}



