*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

body{
  margin:0;
  padding:0;
  background:linear-gradient(tobottom,rgb(255, 255, 255),rgb(218, 218, 218));
}
.btn{
  margin:10px;
}



